.form-evento {
    background-color: #212121;
    padding: 32px 28px;
    border-radius: 1rem;
    width: 384px;
    max-width: 90%;
    margin: 64px auto;
}

.campos {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.acoes {
    margin-top: 32px;
    text-align: center;
}

.container {
    width: 1000px;
    max-width: 90%;
    margin: 0 auto;
}

.eventos {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}
