.card-evento {
    background-color: #212121;
    display: flex;
    flex-direction: column;
    width: 282px;
    color: #ffffff;
}

.card-evento p,
.card-evento h4 {
    margin: 0;
}

.card-evento .corpo {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-evento .tag {
    background-color: #4a4949;
    border-radius: 4px;
    padding: 8px;
    width: fit-content;
    font-family: "Orbitron", sans-serif;
    font-size: 10px;
    line-height: 120%;
    letter-spacing: 10%;
    text-transform: uppercase;
}

.card-evento .data {
    font-weight: 400;
    font-size: 13px;
    line-height: 120%;
}

.card-evento .titulo {
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
}

.card-evento .descricao {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}
